/*!*!*.WebContainer{*!*!*/
/*!*!*    width:100%;*!*!*/
/*!*!*    !*min-width:1000px;*!*!*!*/
/*!*!*    height:auto;*!*!*/
/*!*!*}*!*!*/

/*!* Style the header *!*/
/*.header {*/
/*  padding: 80px;*/
/*  text-align: center;*/
/*  background: #4d3d00;*/
/*  color: #fffae6;*/
/*}*/

/*!* Increase the font size of the h1 element *!*/
/*.header h1 {*/
/*  font-family: 'Amatic SC';*/
/*  font-size: 44px;*/
/*}*/

/*!* Style the top navigation bar *!*/
/*.navbar {*/
/*  overflow: hidden;*/
/*  background-color:  #fffae6;*/
/*  text-align: center;*/
/*}*/

/*!* Style the navigation bar links *!*/
/*.navbar a {*/
/*  float: none;*/
/*  display: inline-block;*/
/*  color: #cca300;*/
/*  text-transform: uppercase;*/
/*  text-align: center;*/
/*  padding: 10px 20px;*/
/*  text-decoration: none;*/
/*}*/

/*!* Change color on hover *!*/
/*.navbar a:hover {*/
/*  background-color: #fffae6;*/
/*  text-shadow: 5px 5px 5px white;*/
/*  color: #4d3d00;*/
/*}*/


/*body {*/
/*  font-family: 'Courier New', monospace;*/
/*  margin: auto;*/
/*  max-width: 1280px;*/
/*  height: 100vh;*/
/*}*/

/*!* Set background color and font for the whole page *!*/

:root {
  --bgr: #faf6f0;
  --col4: #639A67;
  --col3: #D8EBB5;
  --col2: #f3ead2;
}

body {
  background-color: var(--bgr);
  font-family: 'Courier New', monospace;
  margin: auto;
  max-width: 1280px;
  height: 100vh;
}

/* Style the header */
.header {
  padding: 100px;
  text-align: center;
  background: linear-gradient(to bottom, #4d4d4d -80%, var(--col4) 50%);
  color: #fff;
}

/* Increase the font size of the h1 element */
.header h1 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Amatic SC', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: var(--bgr);
  text-align: center;
  border-bottom: 1px solid #ccc;
}

/* Style the navigation bar links */
.navbar a {
  /*display: inline-block;*/
  color: var(--col4);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Change color on hover */
.navbar a:hover {
  background-color: var(--col3);
  color: #fff;
}

/* Style the main content area */
.main {
  padding: 50px;
  background-color: var(--col2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Style the headings */
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Style the paragraphs */
p {
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style the links */
a {
  color: #4d4d4d;
  text-decoration: none;
  /*border-bottom: 2px solid #4d4d4d;*/
  transition: all 0.3s ease;
}

/* Change link color on hover */
a:hover {
  color: #fff;
  /*background-color: #4d4d4d;*/
  /*border-bottom-color: #5c5c5c;*/
}

.rounded-circle {
  max-width: 250px;
}

.slick-slide {
  height: auto;
  max-width: 300px;
}

.slick-prev:before,
.slick-next:before {
    color: black; /* change the color to your preferred color */
}

.slick-prev {
    left: 20px; /* adjust the distance from the left side of the page */
}

.slick-next {
    right: 20px; /* adjust the distance from the right side of the page */
}